/ossdbtoolsservice/** @microsoft/azurepostgresql @microsoft/postgresql-devx
/pgsmo/** @microsoft/azurepostgresql @microsoft/postgresql-devx
/scripts/** @microsoft/azurepostgresql @microsoft/postgresql-devx
/smo/** @microsoft/azurepostgresql @microsoft/postgresql-devx
/tests/** @microsoft/azurepostgresql @microsoft/postgresql-devx
