# Shared Requirements
psycopg==3.1.9;
psycopg[binary,pool]

# PGToolsService Requirements
inflection
sqlparse==0.4.3
prompt_toolkit==2.0.7
xlsxwriter

# PGSMO Requirements
jinja2

# Build/Test Requirements
cx_freeze
nose2
parameterized
coverage
autopep8
flake8
debugpy==1.6.0
python-dateutil
pyinstaller
