# Shared Requirements
psycopg2==2.9.3
PyMySQL==0.9.3

# PGToolsService Requirements
inflection
sqlparse==0.4.3
prompt_toolkit==3.0.31
xlsxwriter

# PGSMO Requirements
jinja2

# Build/Test Requirements
cx_freeze==6.1.0
nose
parameterized
coverage
autopep8
flake8==3.7.0
debugpy==1.5.1
python-dateutil
pydevd
cryptography