# Shared Requirements
psycopg2; platform_system!="Darwin"
psycopg2-binary; platform_system=="Darwin"

# PGToolsService Requirements
inflection
sqlparse==0.4.4
prompt_toolkit==2.0.7
xlsxwriter

# PGSMO Requirements
jinja2

# Build/Test Requirements
cx_freeze
nose2
parameterized
coverage
autopep8
flake8
debugpy==1.6.0
python-dateutil
pyinstaller
